<li class="game single">
	<div class="winner">
		<div class="names"><% game.winners.each do |winner| %><%= winner.display_name %> <% end %></div>
		<span class="score">10</span>
	</div>

	<div class="separator">&nbsp;&mdash;&nbsp;</div>

	<div class="loser">
		<div class="names"><% game.losers.each do |loser| %><%= loser.display_name %> <% end %></div>
		<span class="score"><%= game.loser_score.to_i %>
	</div>

	<abbr class="timeago" title="<%= game.created_at.iso8601 %>">
		<%= game.created_at.to_s(:long) %>
	</abbr>

	<!-- (<%= link_to "X", game_path(game), :method => :delete %>) -->
</li>
