<%= simple_form_for @player do |f| %>
  <%= f.input :email %>
  <%= f.input :name, :required => false %>
  <%= f.hidden_field :rank %>
  <p>The default rank is 750 (Novice-Elite).</p>
  <%= f.submit 'Submit' %>
<% end -%>

