<dl class="tabs mobile">
  <dd><%= link_to 'New Game', new_game_path(:participant_pairs => 1) %></dd>
  <dd><%= link_to 'New Doubles Game', new_game_path(:participant_pairs => 2) %></dd>
</dl>

<h2><%= active_league.name %></h2>
<table class="players">
  <thead>
    <tr>
      <th>Player</th>
      <th class="rank">Rank</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| -%>
      <tr>
        <td class="player avatar">
          <%= link_to(player) do %>
            <%= image_tag(gravatar_url_for(player.email)) %>
            <%= player.name  %>
          <% end %>
        </td>
        <td class="rank">
          <span class="rank-single" title="Double rank: <%= number_with_delimiter(player.doubles_rank) %>"><%= number_with_delimiter(player.rank) %></span>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>

<% content_for(:sidebar) do %>
  <h4>Recent Games (<%= Game.today.count %> today)</h4>
  <ul>
    <%= render recent_games %>
  </ul>
<% end %>
